node_modules
.vscode-test/
*.vsix
.packages/**

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Utils

config.md
vscode-extension-api-package-json-parser.js